@font-face {
  font-family: "Biryani";
  font-style: normal;
  font-display: swap;
  src: url("./assets/fonts/Biryani-SemiBold.woff") format("woff");
  
  ascent-override: 140%;
}

html {
  min-height: 100%;
  height: 100%;

  background: var(--color-dark-temp);
  font-size: 16px;
}

body {
  height: 100%;
  margin: 0;

  font-family: var(--font-family);
  line-height: var(--line-height-n);
  font-size: var(--font-size-n);
  color: var(--color-light-temp);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.no-scroll {
  overflow: hidden;
}

#root {
  display: flex;

  flex-grow: 1;
  flex-direction: column;

  min-height: 100%;
}
