@font-face {
  font-family: "Biryani";
  font-style: normal;
  font-display: swap;
  src: url("./assets/fonts/Biryani-SemiBold.woff") format("woff");

  ascent-override: 140%;
}

html {
  min-height: 100%;
  height: 100%;

  background-color: var(--color-dark-temp);
  font-size: 14px;
}

@media screen and (min-width: 780px) {
  html {
    font-size: 16px;
  }
}

body {
  height: 100%;
  margin: 0;

  font-family: var(--font-family);
  line-height: var(--line-height-n);
  font-size: var(--font-size-n);
  color: var(--color-light-temp);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent var(--space-one),
    rgba(255, 255, 255, 0.03) var(--space-one),
    rgba(255, 255, 255, 0.03) var(--space-two)
  );
}

body.no-scroll {
  overflow: hidden;
}

#root {
  display: flex;

  flex-grow: 1;
  flex-direction: column;

  min-height: 100%;
}
