.link,
.navlink {
  color: var(--color-dark-temp);
  text-decoration: none;
}

.navlink {
  border-bottom: var(--border-size-heavy) solid transparent;
  transition: all ease-out .2s;
}

.__active {
  border-color: var(--color-dark-temp);
}

@media (hover: hover) {
  .navlink:not(.__active) {
    border-bottom-style: dotted;
  }

  .navlink:not(.__active):hover {
    border-color: var(--color-dark-temp);
    border-bottom-style: dotted;
  }
} 
